<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/estilos_supermercado.css" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/fama2.png">
    <title>Galería de Flores | Florería</title>

</head>
<body>
        <header>
          
            <img src="img/floreria.png"  alt="Logo" class="logo">
    
            <nav>
                    <ul>
                        <li>
                            <a href="Carrito.html">Carrito</a>
                        </li>                      
                        <li>
                            <a href="Login.html">Login</a>
                        </li>  
                        <li>
                            <a href="Registrar.html">Registrarse</a>
                        </li>
                        <li>
                            <a href="galeriaproductos.html">Flores</a>
                        </li>           
                        <li>
                            <a href="home.html">Home</a>
                        </li>
                    </ul>   
            </nav>
            
        </header>
       
    </body>
</html>