{% extends 'core/base.html '%}

{% load static %}
{% block contenido %}

<body>
    {% load crispy_forms_tags %}
    <div class="container">
        <h2>Registro de Usuarios</h2>
        <form action="" method="POST">
            {% csrf_token %}

                {{form | crispy}}

            <input type="reset" value="limpiar" class="btn btn-outline-danger">
            <input type="submit" value="Registrar" class="btn btn-outline-danger">
        </form>
    </div>

</body>

{% endblock %}



