<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link href="{% static 'core/css/estilos.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playball&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/icono.png">
    <title>Florería Pétalos</title>

</head>

<body>
    <header>

        <img src="{% static 'core/img/floreria.png' %}" alt="Logo" class="logo">

        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}" class="nav-item nav-link" >Home</a>
                </li>
                <li>
                    <a href="{% url 'galeria' %}" class="nav-item nav-link" >Flores</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="#" class="nav-item nav-link" >Usuario: {{ user.username }} </a>
                </li>
                {% if request.user.is_staff %}
                <li>
                    <a href="{% url 'nueva-flor' %}" class="nav-item nav-link" >Agregar Flor</a>
                </li>
                <li>
                    <a href="{% url 'listado-flores' %}" class="nav-item nav-link" >Listar/Modificar/Eliminar Flores</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'logout' %}" class="nav-item nav-link" >Cerrar sesión</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'registro_usuario' %}" class="nav-item nav-link" >Registrar</a>
                </li>
                <li>
                    <a href="{% url 'login' %}" class="nav-item nav-link" >Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>

    </header>


    <div class="container">
        {% block contenido %}

        {% endblock %}
    </div>
</body>

</html>