{% extends 'core/base.html '%}

{% load static %}
{% block contenido %}
<div class="contenedor_flores">
  <h2 class="titulo_contenedor_flores">Galeria de Flores</h2>
  {% for f in lista %}
  <div class="flores">
    <h3>{{f.nombre}} </h3>
    {% if f.imagen %}
    <img src="{{f.imagen.url}}" height="50%" width="50%">
    <p>{{f.descripcion}}</p>
    <p>Estado: {{f.estado}}</p> 
    <p>Stock: {{f.stock}}</p>
    {% endif %}
    <button type="submit">Agregar Carrito</button>
  </div>
  {% endfor %}
</div>

{% endblock %}