<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="(% static core/css/estilos.css' %)">
    <title>
            {% block Titulo %}
            
            {% endblock Titulo %}
            </title>
</head>
<body>
     <header>
        <nav>
            <ul>
                <li>
                    <a href="#"> Home</a>
                </li>
                <li>
                    <a href="#"> Galeria</a>
                </li>
                <li>
                    <a href="#"> Formulario</a>
                </li>
                <li>
                    <a href="#"> Quienes Somos</a>
                </li>
                <li>
                <a href=""> Logout </a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
            {% block Contenido %}
            
            {% endblock Contenido %}
        </section>
</body>
</html>