{% extends 'core/base.html '%}

{% load static %}
{% block javascript %}

{% endblock javascript %}

{% block contenido %}


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="{% static 'core/js/confirmacion.js' %}"></script>


<h2>Listado  de Flores</h2>
<table class="table table-striped">
    <tr>
    <th>Nombre</th>
    <th>Valor</th>
    <th>Descripcion</th>
    <th>Estado</th>
    <th>Stock</th>
    <th>Opciones</th>
    </tr>

    {% for f in flores %}
    <tr>
            <td>{{ f.nombre }}</td>
            <td>{{ f.valor }}</td>
            <td>{{ f.descripcion }}</td>
            <td>{{ f.estado }}</td>
            <td>{{ f.stock }}</td>
            <td>
                <a href="{% url 'modificar-flores' f.id %}" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Modificar</a>
                <a href="#" class="btn btn-outline-danger btn-sm" role="button" aria-pressed="true" onclick="confirmarEliminacion({{f.id}})">Eliminar</a>
            </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}